@use "../../node_modules/destyle.css/destyle.css";
$border-padding: 8px 16px;
$radius: 12px;
$m1: 64px;
$m2: 32px;
$gray: hsl(0, 0%, 41%);

body {
  margin: $m2;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .gnav {
    display: flex;
    column-gap: $m2;
    &_warpper {
      display: flex;
      align-items: center;
      li {
        margin: 0 24px;
      }
      &_child {
        position: relative;
      }
      &_child::after {
        content: "";
        position: absolute;
        margin-left: 5px;
        top: 50%;
        bottom: 50%;
        height: 5px;
        width: 10px;
        background: url("../../images/icon-arrow-down.svg");
        background-repeat: none;
      }
      a {
        color: $gray;
      }
    }
  }
  .user_nav {
    display: flex;
    align-items: center;
    column-gap: $m2;
    a {
      color: $gray;
    }
    &_last {
      padding: $border-padding;
      border: 1px solid $gray;
      border-radius: $radius;
    }
  }
}

.main_content {
  margin: $m1 auto;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  column-gap: $m1;
  &_section {
    &_warp {
      margin: 96px 0;
      &_copy {
        font-size: $m1;
        font-family: "Noto sans JP";
        font-weight: 900;
      }
      &_letter {
        width: 80%;
        line-height: 24px;
        margin: $m1 0;
        color: $gray;
      }
      &_leanMore {
        a {
          padding: 24px $m2;
          background-color: #000;
          border-radius: $radius;
          color: #fff;
          text-align: center;
          font-weight: 700;
        }
      }
    }
    &_client {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      align-items: center;
      column-gap: $m2;
    }
    &_firstVeiw {
      img {
        width: 100%;
      }
    }
  }
}
