@use "../../node_modules/destyle.css/destyle.css";
$border-padding: 8px 16px;
$radius: 12px;
$gray: hsl(0, 0%, 41%);

$sp: 767px;

$tab: 1020px;

@mixin mobile {
  @media screen and (max-width: $sp) {
    @content;
  }
}
@mixin tab {
  @media screen and (max-width: $tab) {
    @content;
  }
}

body {
  margin: 1vw;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .gnav {
    display: flex;
    column-gap: 2vw;
    &_warpper {
      display: flex;
      align-items: center;
      li {
        margin: 0 2vw;
      }
      &_child {
        position: relative;
      }
      &_child::after {
        content: "";
        position: absolute;
        margin-left: 5px;
        top: 50%;
        bottom: 50%;
        height: 5px;
        width: 10px;
        background: url("../../images/icon-arrow-down.svg");
        background-repeat: none;
      }
      a {
        color: $gray;
      }
    }
  }
  .user_nav {
    display: flex;
    align-items: center;
    column-gap: 3vw;
    a {
      color: $gray;
    }
    &_last {
      padding: $border-padding;
      border: 1px solid $gray;
      border-radius: $radius;
    }
  }
}

.main_content {
  margin: 1vw auto;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  column-gap: 2vw;
  @include tab {
    display: flex;
    flex-wrap: wrap-reverse;
  }
  &_section {
    height: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    row-gap: 8vw;
    &_warp {
      display: flex;
      flex-wrap: wrap;
      row-gap: 5vw;
      &_copy {
        width: 40vw;
        font-size: 5vw;
        font-family: "Noto sans JP";
        font-weight: 700;
        margin: 0;
        @include tab {
          width: 100%;
          font-size: 8vw;
          text-align: center;
        }
      }
      &_letter {
        width: 80%;
        line-height: 24px;
        color: $gray;
        @include tab {
          text-align: center;
          width: 80vw;
        }
      }
      &_leanMore {
        a {
          padding: 24px 4vw;
          background-color: #000;
          border-radius: $radius;
          color: #fff;
          text-align: center;
          font-weight: 700;
        }
      }
    }
    &_client {
      display: flex;
      align-items: center;
      justify-content: space-around;
      column-gap: 4vw;
    }
    &_firstVeiw {
      img {
        width: 100%;
      }
    }
  }
}
